html, 
body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

footer {
    background-color: #333;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

div#mainContent {
    width: 40%;
    height: 50%;
    border-radius: 5%;
    text-align: center;
    font-size: 5em;
    margin: auto;
    margin-top: 5%;
    background-color: #FFF;
}

div#messageContainer {
    width: 40%;
    height: 15%;
    margin-top: 2%;
    font-size: 2em;
    color: #DDD;
    background: #222;
    margin: auto;
    text-align: center;
}

div#answerListContainer {
    width: 40%;
    height: 20%;
    margin: auto;
}

ul#answerList {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

li.answerListItem {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin-left: 2.1%;
    font-size: 2em;
    margin-right: 2.1%;
    text-align: center;
    background-color: #DDD;
    border-radius: 5px;
}