html, 
body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

nav {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav > ul {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: auto;
}

nav > ul > li {
    display: inline-block;
    color: whitesmoke;
}

label {
    color: white;
}

nav > ul > li:hover {
    color: red;
}

footer {
    color: whitesmoke;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
}

span#menuDownArrow {
    font-size: 0.5em;
}

div#mainContent {
    width: 40%;
    height: 50%;
    border-radius: 5%;
    text-align: center;
    font-size: 18em;
    margin: auto;
    margin-top: 2%;
    background-color: #FFF;
}

div#messageContainer {
    width: 40%;
    height: 5%;
    margin-top: 2%;
    font-size: 2em;
    color: #DDD;
    background: #222;
    margin: auto;
    text-align: center;
}

div#answerListContainer {
    width: 40%;
    height: 20%;
    margin: auto;
}

ul#answerList {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

li.answerListItem {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin-left: 2.0%;
    font-size: 2em;
    margin-right: 2.0%;
    text-align: center;
    background-color: #DDD;
    border-radius: 5px;
}